In [66]:
import numpy as np
import pandas as pd

In [67]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv('tmdb_5000_credits.csv')

In [68]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [69]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [70]:
#merging the two dataset to form a single dataset

movies= movies.merge(credits,on='title')

In [71]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [72]:
# keeping only imp things

movies = movies[['movie_id','title','overview','genres','cast','crew','keywords']]

In [73]:
movies.head(1)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [74]:
movies.dropna(inplace=True)

In [75]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
cast        0
crew        0
keywords    0
dtype: int64

In [76]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [77]:
# now we have to convert it into a simple form

def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
        return l

In [79]:
convert('[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]')

# here it shows that it need to be int

['Adventure']

In [80]:
import ast
ast.literal_eval('[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]')

[{'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 28, 'name': 'Action'}]

In [81]:
movies['genres']=movies['genres'].apply(convert)

In [82]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [83]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [84]:
movies.head(1)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [85]:
movies['keywords']=movies['keywords'].apply(convert)

In [86]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",[culture clash]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",[ocean]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",[spy]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",[dc comics]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",[based on novel]

In [87]:
def convert3(obj):
    l=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            l.append(i['name'])
            counter+=1
        else:
                break
    return l

In [88]:
movies['cast']=movies['cast'].apply(convert3)

In [89]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",[culture clash]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",[ocean]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",[spy]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",[dc comics]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",[based on novel]

In [90]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job'] =='Director':
            l.append(i['name'])
            break
    return l

In [91]:
movies['crew']=movies['crew'].apply(fetch_director)

In [92]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],[culture clash]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],[ocean]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes],[spy]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],[dc comics]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],[based on novel]

In [93]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [94]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [95]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],[culture clash]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],[ocean]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",[Action],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes],[spy]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],[dc comics]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],[based on novel]

In [96]:
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])

In [30]:
movies.head(10)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[],[],[],[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[],[],[],[]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",[],[],[],[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[],[],[],[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[],[],[],[]
5,559,Spider-Man 3,"[The, seemingly, invincible, Spider-Man, goes,...",[],[],[],[]
6,38757,Tangled,"[When, the, kingdom's, most, wanted-and, most,...",[],[],[],[]
7,99861,Avengers: Age of Ultron,"[When, Tony, Stark, tries, to, jumpstart, a, d...",[],[],[],[]
8,767,Harry Potter and the Half-Blood Prince,"[As, Harry, begins, his, sixth, year, at, Hogw...",[],[],[],[]
9,209112,Batman v Superman: Dawn of Justice,"[Fearing, the, actions, of, a, god-like, Super...",[],[],[],[]

In [31]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [32]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[],[],[],[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[],[],[],[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",[],[],[],[],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[],[],[],[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[],[],[],[],"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
new_df = movies[['movie_id','tags','title']]

In [34]:
new_df

,movie_id,tags,title
0,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar
1,285,"[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End
2,206647,"[A, cryptic, message, from, Bondâ€™s, past, send...",Spectre
3,49026,"[Following, the, death, of, District, Attorney...",The Dark Knight Rises
4,49529,"[John, Carter, is, a, war-weary,, former, mili...",John Carter
...,...,...,...
4804,9367,"[El, Mariachi, just, wants, to, play, his, gui...",El Mariachi
4805,72766,"[A, newlywed, couple's, honeymoon, is, upended...",Newlyweds
4806,231617,"[""Signed,, Sealed,, Delivered"", introduces, a,...","Signed, Sealed, Delivered"
4807,126186,"[When, ambitious, New, York, attorney, Sam, is...",Shanghai Calling
4808,25975,"[Ever, since, the, second, grade, when, he, fi...",My Date with Drew

In [35]:
# we add the genres keywords overview in the tags
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\VAIBHAVRAI\AppData\Local\Temp\ipykernel_6140\3117272527.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [36]:
new_df.head()

,movie_id,tags,title
0,19995,"In the 22nd century, a paraplegic Marine is di...",Avatar
1,285,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,206647,A cryptic message from Bondâ€™s past sends him o...,Spectre
3,49026,Following the death of District Attorney Harve...,The Dark Knight Rises
4,49529,"John Carter is a war-weary, former military ca...",John Carter

In [37]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\VAIBHAVRAI\AppData\Local\Temp\ipykernel_6140\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [38]:
new_df.head()

,movie_id,tags,title
0,19995,"in the 22nd century, a paraplegic marine is di...",Avatar
1,285,"captain barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,206647,a cryptic message from bondâ€™s past sends him o...,Spectre
3,49026,following the death of district attorney harve...,The Dark Knight Rises
4,49529,"john carter is a war-weary, former military ca...",John Carter

In [39]:
import nltk

In [40]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [41]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [42]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\VAIBHAVRAI\AppData\Local\Temp\ipykernel_6140\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [43]:
#here we are using the Text_vectorization by using the techinique bag of words

from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000 , stop_words='english')

In [44]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [45]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
cv.get_feature_names()

C:\Users\VAIBHAVRAI\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '10th',
 '11',
 '12',
 '12th',
 '13',
 '14',
 '15',
 '150',
 '15th',
 '16',
 '16th',
 '17',
 '17th',
 '18',
 '1863',
 '1890',
 '18th',
 '19',
 '1910',
 '1920',
 '1927',
 '1930',
 '1930s',
 '1937',
 '1940',
 '1940s',
 '1941',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1977',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1986',
 '1987',
 '1990',
 '1994',
 '1995',
 '1996',
 '1997',
 '1999',
 '19th',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2007',
 '2008',
 '2009',
 '2011',
 '2012',
 '20th',
 '21st',
 '22nd',
 '23',
 '24',
 '25',
 '27',
 '28',
 '29',
 '30',
 '300',
 '35',
 '3d',
 '40',
 '400',
 '47',
 '50',
 '500',
 '51',
 '60',
 '60s',
 '70',
 '7th',
 '80',
 'aaron',
 'abandon',
 'abbi',
 'abduct',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abroad',
 'absolut',
 'abus',
 'abuse',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'acquir',
 'act',
 'action',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adapt',
 'add',
 'addict',
 'addiction',
 'addit',
 'addl',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrift',
 'adult',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'advantage',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advice',
 'advis',
 'affair',
 'affect',
 'affection',
 'afflict',
 'affluent',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aftermath',
 'afternoon',
 'ag',
 'age',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'ail',
 'aim',
 'air',
 'airborn',
 'aircraft',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'alaskan',
 'albert',
 'alcohol',
 'alex',
 'alexia',
 'alfi',
 'algeria',
 'ali',
 'alic',
 'alice',
 'alien',
 'aliens',
 'alik',
 'alike',
 'aliv',
 'alive',
 'alleg',
 'allegedli',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allow',
 'alon',
 'alongsid',
 'alpha',
 'alreadi',
 'alt',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amateur',
 'amaz',
 'ambassador',
 'ambit',
 'ambiti',
 'ambush',
 'america',
 'american',
 'ami',
 'amid',
 'amidst',
 'amp',
 'amus',
 'amy',
 'ana',
 'anakin',
 'analyst',
 'ancient',
 'anderson',
 'andi',
 'andrew',
 'andy',
 'angel',
 'angela',
 'angeles',
 'anger',
 'angri',
 'ani',
 'anim',
 'animal',
 'animals',
 'ann',
 'anna',
 'anne',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annoy',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'answers',
 'ant',
 'anthoni',
 'anti',
 'antic',
 'anticip',
 'antics',
 'antiqu',
 'anton',
 'antonio',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalypt',
 'apollo',
 'appar',
 'appear',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'approaches',
 'april',
 'arab',
 'arch',
 'archaeologist',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armor',
 'army',
 'arnold',
 'arrang',
 'array',
 'arrest',
 'arrested',
 'arriv',
 'arrive',
 'arrives',
 'arrog',
 'art',
 'arthur',
 'articl',
 'artifact',
 'artifici',
 'artist',
 'artists',
 'ash',
 'ashley',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assassins',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'athlet',
 'atlant',
 'atom',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austrian',
 'author',
 'authorities',
 'authority',
 'auto',
 'autobiograph',
 'avail',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'axel',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backwat',
 'backyard',
 'bad',
 'badli',
 'bag',
 'bahama',
 'bail',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'banish',
 'bank',
 'banker',
 'bar',
 'barbara',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrier',
 'barry',
 'bars',
 'bas',
 'base',
 'basebal',
 'basement',
 'basketbal',
 'basketball',
 'batman',
 'battalion',
 'battl',
 'battle',
 'bay',
 'beach',
 'beam',
 'bear',
 'beast',
 'beat',
 'beaten',
 'beau',
 'beauti',
 'beautiful',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'bed',
 'bedroom',
 'bee',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'bend',
 'beneath',
 'benefit',
 'benjamin',
 'bennett',
 'bent',
 'berlin',
 'best',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'better',
 'betti',
 'beverli',
 'biblic',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bilbo',
 'billi',
 'billion',
 'billionair',
 'bind',
 'biograph',
 'biographi',
 'biolog',
 'biologist',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blade',
 'blake',
 'blame',
 'blart',
 'blaze',
 'blend',
 'bless',
 'blind',
 'bliss',
 'block',
 'blofeld',
 'blonde',
 'blood',
 'bloodi',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blu',
 'blue',
 'blur',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bobby',
 'bodi',
 'body',
 'bodyguard',
 'bohemian',
 'bold',
 'bolt',
 'bomb',
 'bond',
 'bone',
 'boo',
 'book',
 'books',
 'boot',
 'border',
 'bore',
 'boredom',
 'boring',
 'born',
 'borrow',
 'boss',
 'boston',
 'botch',
 'bounc',
 'bound',
 'boundari',
 'bounti',
 'bourn',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'brad',
 'brain',
 'brand',
 'brandon',
 'brave',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakup',
 'breath',
 'breed',
 'brent',
 'brew',
 'brian',
 'brick',
 'bride',
 'bridg',
 'bridge',
 'brief',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronson',
 'brook',
 'brooklyn',
 'brother',
 'brotherhood',
 'brothers',
 'brought',
 'brown',
 'bruce',
 'brutal',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'budget',
 'buffalo',
 'bug',
 'build',
 'building',
 'built',
 'bull',
 'bullet',
 'bulli',
 'bum',
 'bumbl',
 'bump',
 'bunch',
 'bungl',
 'bunker',
 'bunni',
 'buri',
 'burk',
 'burn',
 'burnett',
 'burnt',
 'burt',
 'burton',
 'bush',
 'busi',
 'business',
 'businessman',
 'businesswoman',
 'bust',
 'butch',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'cabl',
 'caesar',
 'cain',
 'cal',
 'cale',
 'caleb',
 'california',
 'calm',
 'calvin',
 'came',
 'camera',
 'cameraman',
 'cameron',
 'camp',
 'campaign',
 'campbel',
 'campbell',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'canin',
 'capabl',
 'capac',
 'cape',
 'caper',
 'capit',
 'capsiz',
 'capsul',
 'capt',
 'captain',
 'captiv',
 'captor',
 'captur',
 'capture',
 'captured',
 'car',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'cargo',
 'caribbean',
 'carl',
 'carlo',
 'carmen',
 'carnag',
 'carol',
 'carolina',
 'carpenter',
 'carri',
 'carrier',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'cartoonist',
 'case',
 'casey',
 'cash',
 'casino',
 'cast',
 'castl',
 'castle',
 'casual',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'catherin',
 'cathol',
 'cattl',
 'caught',
 'caus',
 'cause',
 'cave',
 'cebe',
 'cedric',
 'celebr',
 'celebration',
 'celebrity',
 'cell',
 'censor',
 'cent',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'cesar',
 'chad',
 'chagrin',
 'chain',
 'chair',
 'chairman',
 'challeng',
 'challenge',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channel',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charlott',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'cherish',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chill',
 'china',
 'chines',
 'chip',
 'chloe',
 'chocol',
 'choic',
 'choice',
 'chon',
 'choos',
 'chosen',
 'chri',
 'christ',
 'christian',
 'christin',
 'christina',
 'christma',
 'christmas',
 'christoph',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'cindi',
 'cinema',
 'circl',
 'circle',
 'circu',
 'circuit',
 'circumst',
 'circumstances',
 'citi',
 'citizen',
 'citizens',
 'city',
 'civil',
 'civilian',
 'civilization',
 'clad',
 'claim',
 'clair',
 'clan',
 'clark',
 'clash',
 'class',
 'classic',
 'classmat',
 'classmates',
 'claudia',
 'clay',
 'clayton',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'climat',
 'climb',
 'climber',
 'clock',
 'clone',
 'close',
 'closer',
 'closest',
 'cloud',
 'club',
 'clubs',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'coastal',
 'cocain',
 'cocki',
 'code',
 'codi',
 'cohen',
 'col',
 'cold',
 'cole',
 'colin',
 'collaps',
 'collapse',
 'colleagu',
 'colleague',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collide',
 'collin',
 'collis',
 'colon',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'com',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'commitment',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compel',
 'compet',
 'competit',
 'competition',
 'complet',
 'complete',
 'complex',
 'complic',
 'compos',
 'compound',
 'compromis',
 'compton',
 'compuls',
 'comput',
 'computer',
 'conan',
 'conceal',
 'concern',
 'concert',
 'conclusion',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confid',
 'confin',
 'confirm',
 'conflict',
 'confront',
 'confus',
 'connect',
 'connecticut',
 'conni',
 'connor',
 'conquer',
 'conquest',
 'conrad',
 'conscience',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contempl',
 'contemporari',
 'contend',
 'content',
 'contest',
 'contin',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 'convent',
 'converg',
 ...]

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity = cosine_similarity(vectors)

In [49]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3083, 0.2449489742783178),
 (529, 0.23904572186687872),
 (3608, 0.23624976928744731),
 (1216, 0.17251638983558856),
 (778, 0.1690308509457033)]

In [50]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [51]:
recommend('Batman Begins')

Synecdoche, New York
The Shipping News
Copying Beethoven
Bruce Almighty
Sexy Beast

In [52]:
import pickle

In [53]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [54]:
new_df

,movie_id,tags,title
0,19995,"in the 22nd century, a parapleg marin is dispa...",Avatar
1,285,"captain barbossa, long believ to be dead, ha c...",Pirates of the Caribbean: At World's End
2,206647,a cryptic messag from bondâ€™ past send him on a...,Spectre
3,49026,follow the death of district attorney harvey d...,The Dark Knight Rises
4,49529,"john carter is a war-weary, former militari ca...",John Carter
...,...,...,...
4804,9367,el mariachi just want to play hi guitar and ca...,El Mariachi
4805,72766,a newlyw couple' honeymoon is upend by the arr...,Newlyweds
4806,231617,"""signed, sealed, delivered"" introduc a dedic q...","Signed, Sealed, Delivered"
4807,126186,when ambiti new york attorney sam is sent to s...,Shanghai Calling
4808,25975,ever sinc the second grade when he first saw h...,My Date with Drew

In [55]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [56]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [57]:
pickle.dump(similarity,open('similarity.pkl','wb'))